<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search customer | DoodleTV</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="The project of Typer" />

        <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
        <script src="./semantic/dist/semantic.min.js"></script>
		<script src="./jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
      <div class="ui secondary pointing menu">
      	<div class="header item">DoodleTV</div>
		  <div class="right menu">
			  <a class="item" href="index.html">Home</a>
			  <a class="active item" href="searchCustomer.html">Search customer</a>
		  </div>
	  </div>

	  <div class="main ui container">
			<div class="ui grid" style="margin-top: 50px" ng-app="searchCustomerApp" ng-controller="HttpController">
				<div class="row">
					<div class="ten wide centered column">
						<div class="ui form">
							<div class="field ui icon input" style="width: 100%" >
								<input type="text" name="searchemail" ng-model="searchemail" placeholder="Customer Email">
								<i class="search link icon" ng-click="searchCustomer()"></i>
							</div>
						</div>
					</div>
				</div>

				<div class="row result-table" style="display: none;">
					<div class="thirteen wide centered column">
						<table class="ui blue table attached segment">
							<thead>
								<tr>
									<th>Fisrname</th>
									<th>Lastname</th>
									<th>Email</th>
									<th>Phone Number</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{firstname}}</td>
									<td>{{lastname}}</td>
									<td>{{email}}</td>
									<td>{{phonenumber}}</td>
									<td>
										<button class="ui yellow basic button update-btn">Update</button>
										<button class="ui red basic button" ng-click="deleteCustomer()">Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="ui bottom attached success message delete-msg" style="display: none;">
							<i class="icon hand peace"></i>Customer successfully deleted!
						</div>
					</div>
				</div>

				<div class="row update-table" style="display: none">
					<div class="ten wide centered column">
						<div class="ui attached message">
							<div class="header">Update customer profile</div>
						</div>
						<div class="ui form attached segment">
							<div class="field">
								<label>Name</label>
								<div class="two fields">
									<div class="field"><input type="text" id="firstname" value="{{firstname}}"></div>
									<div class="field"><input type="text" id="lastname"value="{{lastname}}"></div>
								</div>
								<div class="two fields">
									<div class="field">
										<input type="text" name="email" value="{{email}}" disabled>
									</div>
									<div class="field"><input type="text" id="phonenumber" value="{{phonenumber}}"></div>
								</div>
							</div>
							<div class="field">
								<label>Address</label>
								<div class="fields">
									<div class="sixteen wide field">
										<input type="text" id="street" ng-model="street" value="{{street}}">
									</div>
								</div>
								<div class="three fields">
									<div class="field">
										<input type="text" id="apt" ng-model="apt" value="{{apt}}">
									</div>
									<div class="field">
										<input type="text" id="city" ng-model="city" value="{{city}}">
									</div>
									<div class="field">
										<input type="text" id="zipcode" ng-model="zipcode" value="{{zipcode}}"/>
									</div>
								</div>
							</div>
							<button class="ui primary button" ng-click="updateCustomer()">Update</button>
						</div>
						<div class="ui bottom attached negative message" style="display: none">
							<i class="icon remove"></i>
							<span id="error-msg"></span>
						</div>
						<div class="ui bottom attached success message" style="display: none">
							<i class="icon hand peace"></i>
							Profile successfully updated!</a>.
						</div>
					</div>
				</div>

				<div class="row noresult" style="display: none;">
					<div class="ten wide centered column">
						<div class="ui fluid negative message">
							<i class="icon frown"></i>Oops! No result found.
						</div>
					</div>
				</div>

	  </div>
	</div>

	<div class="ui text menu">
		<div class="item copyright">Copyright &copy; 2016 Typer. All rights reserved.</div>
	</div>

	<script>
		var app = angular.module("searchCustomerApp", []);
        app.controller("HttpController", function ($scope, $http) {
        	$scope.searchCustomer = function () {
                $http.get('https://br1l3wine3.execute-api.us-east-1.amazonaws.com/swaggerv3/demo/customers/' + $scope.searchemail)
                .then(function(response) {
                	if(response.data) {
                		$scope.firstname = response.data["firstname"];
	                    $scope.lastname = response.data["lastname"];
	                    $scope.email = response.data["email"];
	                    $scope.phonenumber = response.data["phonenumber"];
	                    
	                    $http.get(response.data.link["address"]).then(function(resp) {
		                    $scope.street = resp.data["street"];
		                    $scope.apt = resp.data["num"];
		                    $scope.city = resp.data["city"];
		                    $scope.zipcode = resp.data["zipcode"];
	                	});
	                	$(".update-table").hide();
						$(".noresult").hide();
						$(".result-table").show();
                	} else {
                		$(".update-table").hide();
						$(".result-table").hide();
						$(".noresult").show();
                	}
                }, function(response) {
			        $(".update-table").hide();
					$(".result-table").hide();
					$(".noresult").show();
			    });
            };

            $scope.updateCustomer = function () {
                /*if(!checkNull($("input[name='firstname']").val(), 
                	$("input[name='lastname']").val(), 
                	$("input[name='phonenumber']").val(), 
                	$("input[name='street]").val(), 
                	$("input[name='apt']").val(), 
                	$("input[name='city']").val(), 
                	$("input[name='zipcode']").val())) return;*/
                //if(!checkPhonenumber($("input[name='phonenumber']").val())) return;

                var custdata = {
                    firstname : document.getElementById('firstname').value,
                    lastname : document.getElementById('lastname').value,
                    phonenumber : document.getElementById('phonenumber').value
                };

                var addrdata = {
                    street : document.getElementById('street').value,
                    apt : document.getElementById('apt').value,
                    city : document.getElementById('city').value,
                    zipcode : document.getElementById('zipcode').value
                };

                var config = {
                    headers : {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*',
                        'Access-Control-Allow-Headers' : 'Content-Type, Access-Control-Allow-Origin'
                    }
                }

                $http.put('https://br1l3wine3.execute-api.us-east-1.amazonaws.com/swaggerv3/demo/customers/' + $('input[name="email"]').val(), custdata, config)
                .success(function (data, status, headers, config) {
                    $(".negative.message").hide();
					$(".success.message").show();
                })
                .error(function (data, status, header, config) {
                    $(".success.message").hide();
                    $("#error-msg").html('Failed to update customer profile because ');
                    if(data["error message"])
						$("#error-msg").append(data["error message"]);
					else
						$("#error-msg").append(data["message"]);
					$(".negative.message").show();
                });
            };

            $scope.deleteCustomer = function () {
            	var config = {
                    headers : {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin' : '*',
                        'Access-Control-Allow-Headers' : 'Content-Type, Access-Control-Allow-Origin'
                    }
                }

                $http.delete('https://br1l3wine3.execute-api.us-east-1.amazonaws.com/swaggerv3/demo/customers/' + $scope.email, config)
                .success(function (data, status, headers, config) {
                    location.reload();
                });
            };
        });

		$(".update-btn").click(function(){
			$(".result-table").hide();
			$(".noresult").hide();
			$(".update-table").show();
		});

		$("input[name='phonenumber']").blur(function(){
			checkPhonenumber($(this).val());
		});

		function checkNull(firstnameVal, lastnameVal, phonenumberVal, streetVal, aptVal, cityVal, zipcodeVal) {
			if(firstnameVal || lastnameVal || phonenumberVal || aptVal || streetVal || cityVal || zipcodeVal) {
				$('#error-msg').html('All fields are required.');
				$('.negative.message').show();
				$('.success.message').hide();
				return false;
			}
			return true;
		};

		function checkPhonenumber(phonenumber) {
			$(".negative.message").hide();
			var regex = /^\d{10}$/;
			if(regex.test(phonenumber)) return true;
			else {
				$(".success.message").hide();
				$("#error-msg").html('Invalid phone number.');
				$(".negative.message").show();
				return false;
			}
		};

	</script>
	</body>
</html>