<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
    <script>
  angular.module('search-cus-app', [])
    .controller('search-cus-ctrl', ['$scope', function($scope) {
      $scope.searchCus = function() {
        if ($scope.text) {
          $scope.list.push(this.text);
          $scope.text = '';
        }
      };
    }]);
</script>
<form ng-submit="submit()" ng-controller="ExampleController">
  Enter text and hit enter:
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  <pre>list={{list}}</pre>
</form>

    <form class="ui form" ng-app="search-cus-app" ng-controller="search-cus-ctrl" ng-submit="searchCus()">
        <div class="field ui icon input" style="width: 100%">
            <input type="text" ng-model="email" placeholder="Customer Email">
            <button class="search link icon"></button>
        </div>
    </form>
<span ng-model="text"></span>

</body>
</html>